<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dawid Haniewicz - Java Software Developer</title>
    <link th:href="@{/styles.css}" th:rel="stylesheet"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono&display=swap" rel="stylesheet">
    <!-- -->
    <link th:href="@{/webjars/font-awesome/5.15.4/css/all.css}" th:rel="stylesheet"/>
    <script th:src="@{/webjars/font-awesome/5.15.4/js/all.js}" type="text/javascript"></script>
</head>
<body>

<div class="container">
    <div class="intro">
        <img class="profile-picture" th:src="@{/images/profile-picture.png}"/>
        <h1>Dawid Haniewicz</h1>
        <h3>Java Software Developer</h3>
    </div>

    <hr/>

    <div class="about-grid">
        <div class="i-am">
            <h3>I am</h3>
            <ul class="about-list">
                <li>An engineer</li>
                <li>A programmer</li>
                <li>A physicist</li>
            </ul>
        </div>
        <div class="i-like">
            <h3>I like to</h3>
            <ul class="about-list">
                <li>Meet new people</li>
                <li>Play guitar</li>
                <li>Travel</li>
            </ul>
        </div>
    </div>

    <hr/>

    <div class="links-and-contact">
        <div class="links">
            <h3>Links</h3>
            <ul class="links-list">
                <li>
                    <a href="https://github.com/fempter" rel="noopener noreferrer" target="_blank">
                        <i class="fab fa-github fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/dawid-haniewicz-36975215a" rel="noopener noreferrer"
                       target="_blank">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="https://xing.com/profile/Dawid_Haniewicz" rel="noopener noreferrer" target="_blank">
                        <i class="fab fa-xing fa-3x"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div>
            <form action="#">
                <label for="email">
                    <h4>Email</h4>
                    <input id="email" placeholder="Enter your email" type="email"/>
                </label>
                <label for="message">
                    <h4>Message</h4>
                    <textarea id="message" placeholder="Your message"></textarea>
                </label>
                <div class="submit-button-wrapper">
                    <input id="submit-button" type="submit" value="Send Message"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/script.js}" type="text/javascript"></script>

</body>
</html>