<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <title>My first website! / Moja pierwsza strona!</title>
    <h1>My first website! / Moja pierwsza strona!</h1>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<p>This is my website. Thanks for comming! / To jest moja strona, dzięki, że wpadłeś!</p>
<p>Now my website is live! / Moja strona jest live!</p>
<p>Dawid Haniewicz</p>

<table>
    <tr>
        <th>Name of feature</th>
        <th>Status</th>
    </tr>
    <tr>
        <td id="firstCol">First TODO</td>
        <td><img
                src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/thumbs-down_1f44e.png"
                alt="Thumbs Down" height="15"></td>
    </tr>
    <tr>
        <td id="secondCol">Second TODO</td>
        <td><img
                src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/thumbs-down_1f44e.png"
                alt="Thumbs Down" height="15"></td>
    </tr>
    <tr>
        <td id="thirdCol">Third TODO</td>
        <td><img
                src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/thumbs-down_1f44e.png"
                alt="Thumbs Down" height="15"></td>
    </tr>
    <tr>
        <td id="fourthCol">Fourth TODO</td>
        <td><img
                src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/thumbs-down_1f44e.png"
                alt="Thumbs Down" height="15"></td>
    </tr>
</table>
<br>
<div class="image-container">
    <img alt="Smiling face" src="https://i.pinimg.com/originals/8c/97/ab/8c97abebb74586486a56798198955212.jpg">
</div>

</body>
</html>